[user]
    email = psfldr@gmail.com
    name = psfldr
[core]
    editor = nvim
    excludesfile = {{ HOME_DIR }}/.gitignore_global
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[difftool]
    prompt = false
[diff]
    tool = vimdiff
[ghq]
    root={{ HOME_DIR }}/work/ghq

